header {
  background-color: #b1da9b;
  color: #f4f5f7;

  .navbar {
    display: flex;
    padding: 10px 20px 0px 20px;
    height: 64px;
    align-items: center;

    .title {
      font-size: 32px;
    }

    a {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 10px;
      text-decoration: none;
      color: #f4f5f7;
    }

    .nav_href {
      display: flex;
      align-items: center;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      transition: all 0.7s ease-in-out;
      &:hover {
        background-color: #f4f5f7;
        color: #b1da9b;
      }
    }
    .mode_tag {
      background-color: #f4f5f7;
      color: #b1da9b;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }

    .nav_list {
      margin: 0;
      margin-left: auto;
      display: flex;
      list-style: none;
      height: 100%;

      .nav_item {
        margin-left: 20px;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 100%;
      }
    }
  }
}
