$text_light_color: #f4f5f7;
$text_dark_color: #0f0f0f;
$main_color: #90f59a;
$container_border: 5px solid #d4d4d48e;

.work_container {
  height: 100vh;
  background-color: $text_light_color;
  border-top: $container_border;
  border-bottom: $container_border;

  .work_wrapper {
    padding: 120px;

    .work_title {
      font-size: 48px;
      color: $text_dark_color;
      margin-bottom: 30px;
    }
    .work_content_wrapper {
      margin-left: 50px;
    }

    .work_content {
      display: flex;
      justify-content: center;
      align-items: center;

      .work_content_title {
        font-size: 30px;
        font-weight: 700;
        color: $text_dark_color;
        margin-bottom: 10px;
      }

      .work_content_item {
        display: flex;
        margin-bottom: 30px;

        .level_box {
          margin-right: 48px;
        }

        .level_box ul {
          justify-content: center;
          align-items: center;
          margin-bottom: 10px;
        }
      }

      .work_content_text {
        font-size: 16px;
        color: $text_dark_color;
        margin-bottom: 10px;
      }
    }
  }
}
